.matcontainer
{
  // height: -webkit-fill-available;
  // width: -webkit-fill-available;
  height:100vh;
}

.input-field{
  width: 700px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    padding-left: 40px;
}
.form
{
  width: 600px;
    height: 26px;
}
.new-change{
  width: 100%;
  display: flex;
  flex-direction: row;
 // justify-content: space-evenly;
}

input.input-field:focus{
  outline-width: 0;
}
.matToolbar
{
  display: flex;
  justify-content: space-between
}
.matSearchIcon
{
  padding-left: 47px;
}
.matIcons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidenav{
  width:17%
}
