<div fxLayout="row" fxLayoutAlign="space-around start">
  <mat-toolbar>
    <mat-toolbar-row>

      <div>
        <button mat-icon-button (click)="snav.toggle()" matTooltip="Main menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <div style="margin-top: 4%">
          <img src="https://www.google.com/images/icons/product/keep-512.png" alt="FundooNotes Logo" style="width:40px;height:40px">
        </div>
        <div style="margin-top: 7%; margin-left: 7%">{{"FundooNotes"}}</div>
      </div>
      <div>
        <div>
          <button mat-icon-button>
            <mat-icon class="matSearchIcon" matTooltip="Search">search</mat-icon>
          </button>
          <input class="input-field" [(ngModel)]="value" matInput placeholder="Search" autocomplete="off" />
        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div>
          <button style="margin-left: 50%" mat-icon-button color="basic" (click)="refresh()" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div>
          <button style="margin-left: 91%" mat-icon-button color="basic" (click)="settings()" matTooltip="Refresh">
            <mat-icon>settings</mat-icon>
          </button>
        </div>

        <div>
          <button style="margin-left: 305%" mat-icon-button color="basic">
            <mat-icon>grid_on</mat-icon>
          </button>
        </div>

        <div>

          <button style="margin-left:333%" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">A</button>
          <mat-menu #menu="matMenu">
            <mat-card fxLayout="row" fxLayoutAlign="space-around center">
              <button mat-menu-item routerLink="/register">Add account</button>
              <button mat-menu-item (click)="signOut()">Sign out</button>
            </mat-card>
          </mat-menu>
        </div>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
  <mat-sidenav-container class="matcontainer" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>

        <button mat-list-item [routerLink]="['note']" style="border: none">
          <mat-icon matPrefix >lightbulb_outline</mat-icon>Notes
        </button>

        <a mat-list-item>
          <mat-icon matPrefix>notifications_none</mat-icon>Reminder
        </a>

        <label style="font-size: 80%;margin-left: 8%;">LABELS</label>
        <a mat-list-item [routerLink]="['archive']">
          <mat-icon matPrefix>archive_outline</mat-icon>Archive
        </a>
        <a mat-list-item [routerLink]="['trash']" style="border: none">
          <mat-icon matPrefix>delete_outline</mat-icon>Trash
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>