<div class="background-image">
  <div fxLayout="column" fxLayoutAlign="space-around center">
  
      <mat-card class="card" fxFlex='200'>
    <h2>Set Password !</h2>
    <div fxLayout="column" fxLayoutAlign="space-between start">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Placeholder" [(ngModel)]="setPasswordDto.password" required>
    <mat-icon class="green-icon" matSuffix>visibility_off</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" placeholder="Placeholder" [(ngModel)]="setPasswordDto.confirmPassword" required>
    <mat-icon class="green-icon" matSuffix>visibility_off</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="setPassword()">Set</button>
</div>
</mat-card>
</div>
</div>
