<div class="background-image">
    <div fxLayout="column" fxLayoutAlign="space-around center">
    
        <mat-card class="card" fxFlex='200'>
      <h2>Forgot Password !</h2>
      <div fxLayout="column" fxLayoutAlign="space-between start" >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Placeholder" [(ngModel)]="sendMail.emailId">
      <mat-icon class="green-icon" matSuffix>contact_mail</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="forgot()">Send</button>
</div>
</mat-card>
</div>
</div>
  